langchain==0.0.146
transformers==4.27.1
unstructured[local-inference]
layoutparser[layoutmodels,tesseract]
nltk
sentence-transformers
beautifulsoup4
icetk
cpm_kernels
faiss-cpu
accelerate
gradio==3.28.3
fastapi
uvicorn
peft
pypinyin
# 下面是我自己添加的
sse_starlette==1.5.0
gputil==1.4.0
#detectron2@git+https://github.com/facebookresearch/detectron2.git@v0.6#egg=detectron2
